body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    line-height: 1.5;
}

main {
    color: #851944;
}

h1, h2{
    font-family: "Open Sans Condensed","Arial", sans-serif;
}

main h1{
    color: #fff;
    text-align: center;
    background-color: #851944;
    padding: 25px;
}

p {
    text-align: justify;
}

blockquote {
    background-color: #D9E5E3;
}

aside{
    background-color: #3C1D3D;
    color: #F2FFFC;
}

footer {
    background-color: #000;
    color: #F2FFFC;
}

nav a{
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside, footer, blockquote {
    padding: 20px;
}

main div{
    max-width: 720px;
    margin: auto;
}